<?php
//database server
define('DB_SERVER', "localhost");

//database login name
define('DB_USER', "root");
//database login password
define('DB_PASS', "");

//database name
define('DB_DATABASE', "gctour");

define('TABLE_PREFIX', "gct_");

//smart to define your table names also
define('TABLE_GEOCACHES', TABLE_PREFIX."geocaches");
define('TABLE_WAYPOINTS', TABLE_PREFIX."waypoints");
define('TABLE_OWNWAYPOINTS', TABLE_PREFIX."ownwaypoints");
define('TABLE_TOURS', TABLE_PREFIX."tours");
define('TABLE_ERRORS', TABLE_PREFIX."errors");
define('TABLE_DLSTATS', TABLE_PREFIX."downloadstats");
define('TABLE_VERSIONS', TABLE_PREFIX."versions");
define('TABLE_VERSIONSTATS', TABLE_PREFIX."version_stats");
define('TABLE_GEOCACHESINTOUR', TABLE_PREFIX."geocaches_in_tour");
define('TABLE_OWNWAYPOINTSINTOUR', TABLE_PREFIX."ownwaypoints_in_tour");
define('TABLE_MAPTEMP', TABLE_PREFIX."map_temp");


define('ADMIN_USER', "");
define('ADMIN_PASS', "");
?>
