
.unselectable {
  -o-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -none;
  -khtml-user-select: none;
  user-select: none;
}

#cacheList .counter {
  position:absolute;
  right:4px;
  bottom: 0;
  z-index:0;
  overflow:hidden;
  font: normal 24px arial,sans-serif;
  color: #d5d5d5;
  text-align:right;
  text-shadow: 1px 1px 1px #C0C0C0;
  vertical-align: text-bottom;
  background-color: transparent;
  margin-right:0;
  margin-bottom:0;
  padding: 0;
}
