/*
* GCTour - Container
*/

#gctourButtonWrapper {
  height: 32px !important;
  padding: 0 !important;
  position: fixed !important;
  top: 30px !important;
  width: 35px !important;
  background-color: #fff;
  z-index: 100001 !important;
  border: 1px solid #333;
  border-width: 1px 1px 1px 0;
  border-radius: 0 5px 5px 0;
  -moz-user-select: none;
}

#gctourButtonWrapper img {
  position: relative;
  top: 8px;
  left: 8px;
}

#gctourContainer {
  background-color: #fff;
  overflow: hidden;
  left: -210px;
  padding: 0 !important;
  position: fixed !important;
  top: 30px !important;
  width: 200px;
  z-index: 100002 !important;
  border: 1px solid #333;
  border-left: 0px;
  border-radius: 0 5px 5px 0;
  font-size: 12px;
  line-height: 1.5;
}

#gctourContainer .cachelist {
  width: 100%;
  margin: 0;
  padding:0;
  font-size:80%;
  list-style-type:none;
}

#gctourContainer .cachelist li {
  color:#000;
  margin:0.5em;
  padding:3px;
  width:120px;
  min-height:44px;
  list-style-position:inside;
  border:1pt dashed gray;
  background-color:#FFF;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -moz-border-radius:8px 0 8px 0;
  border-radius:8px 0 8px 0;
}

#gctourContainer img.imgShadow {
  -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  background-color: lightgray;
}

#gctourContainer img.tourImage {
  cursor: pointer;
  margin: 0 2px 0 2px;
}

/* Styling the placeholder for when the user starts dragging an item */
#gctourContainer li.ui-sortable-placeholder {
  min-height:50px;
  max-height:80px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.03);
}
